<a href="https://colab.research.google.com/github/Sinchiguano/ai_googleColab/blob/main/lunes10junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
myNumber= 3
myNumberDecimal=3.6
state=True

In [ ]:
print(f'valor entero= {myNumber}')
print('valor entero es = ',myNumber)
print(f'valor decimal= {myNumberDecimal}')
print('valor bool es = ',state)

valor entero= 3
valor entero es =  3
valor decimal= 3.6
valor bool es =  True

In [ ]:
aux1=10
aux2=2

print("La suma de las variables aux1 + aux2 =",aux1+aux2)

La suma de las variables aux1 + aux2 = 12

In [ ]:
tmp=aux1**aux2
print(f'The result of $10^2$={tmp}')

The result of 10^2=100

In [ ]:
var1='Hola'
var2='!,Cesar'

print(var1+var2)

Hola!,Cesar

In [ ]:
print(3*var1)

HolaHolaHola

In [ ]:
num1=10
num2=10.5

In [ ]:
print('The type of the num1 is: ',type(num1))
print('The type of the num1 is: ',type(num2))

The type of the num1 is:  <class 'int'>
The type of the num1 is:  <class 'float'>