<a href="https://colab.research.google.com/github/Sinchiguano/ai_googleColab/blob/main/Pandas_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to pandas Data Structurees

In [ ]:
import pandas as pd

DATA STRUCTURES

In [ ]:
ser=pd.Series(data=[1,2,3], index=['one','two','three'])
print(ser.shape)
print(ser)

print('\n')
ser=pd.Series([1,2,3],['one','two','three'])
print(ser.shape)
print(ser)

print('\n')
ser=pd.Series([1,'food','rice'],['one','two','three'])
print(ser.shape)
print(ser)

print('\n')
print(ser['two'])
print(ser.index)

In [ ]:
ser=pd.Series([1,'food','rice'],['one','two','three'])
print(ser.loc['three'])
print('\n')
print(ser[['one','three']])
print('\n')
print(ser[[0,2]])
print('\n')
print('two' in ser)

PANDAS DATAFRAME

it is a 2-dimensional labeled data structure

In [ ]:
tmp=dict()
print(type(tmp))
import pandas as pd
s1=pd.Series(data=[2,1,2,4],index=['eraser','ruler','notebook','glue'])
s2=pd.Series(data=[4,2,6,1],index=['desk','stapler','scissors','highlighter'])
s3=pd.Series(data=[1,2,2,30],index=['calculator','chair','whiteout','paper'])


tmp['scholarList1']=s1
tmp['scholarList2']=s2
tmp['scholarList3']=s3
print('-------------')
# # Iterate over the keys
# for key in tmp:
#     # Access the value using the key
#     print(tmp[key])

print('----NEW ONE------------')
dframe=pd.DataFrame(tmp)
# print(dframe.shape)
print('\n')
print(dframe)

In [ ]:
print(dframe.index)
print('------')
print(dframe.columns)


print('------')
newDataFrame=pd.DataFrame(tmp,index=['eraser','scissors','paper'])
print(newDataFrame)

CREATE DATAFRAME FROM LIST OF PYTHON DICTIONARIES

In [ ]:
data=list()
data.append({'alex':1,'joe':2})
data.append({'ema':5,'dora':10,'alice':50})
print(data)
newDframe=pd.DataFrame(data)
print('-------')
print(newDframe)
print('\n')
newDframe=pd.DataFrame(data,index=['orange','red'])
newDframe
print('\n')
nDf1=pd.DataFrame(data, index=['one','two'],columns=['ema','dora','joe'])
print(nDf1)

BASIC DATAFRAME OPERATIONS

In [ ]:
print(dframe)
print('\n')
print(dframe['scholarList1'])
print('\n')
dframe['scholarList4']=dframe['scholarList1']+dframe['scholarList3']
print(dframe)

In [ ]:
filter=dframe['scholarList1']>3
dframe2=dframe[filter]
print(dframe2)
print(dframe)
print(dframe.pop('scholarList4'))
print(dframe)
del dframe['scholarList2']
print(dframe['scholarList3'][:2])

CASE STUDY:

MOVIE DATA ANALYSIS

In [ ]:
# link https://grouplens.org/datasets/movielens/


url='https://raw.githubusercontent.com/Sinchiguano/ai_googleColab/main/smallDataset/movies.csv'
df = pd.read_csv(url)

print(df.head(5))
print('-----')
print(df.index)
print(df.columns)
print(df.shape)
print(type(df))
df.head(15)
movies = pd.read_csv(url)

In [ ]:


url='https://raw.githubusercontent.com/Sinchiguano/ai_googleColab/main/smallDataset/tags.csv'
df = pd.read_csv(url)

print(df.head(5))
print('-----')
print(df.index)
print(df.columns)
print(df.shape)
print(type(df))
df.head(15)

tags = pd.read_csv(url)

In [ ]:

url='https://raw.githubusercontent.com/Sinchiguano/ai_googleColab/main/smallDataset/ratings.csv'
df = pd.read_csv(url)

print(df.head(5))
print('-----')
print(df.index)
print(df.columns)
print(df.shape)
print(type(df))
df.head(15)

ratings = pd.read_csv(url)

In [ ]:
del ratings['timestamp']
del tags['timestamp']
print(ratings.shape)
print(tags.shape)
print(movies.shape)

In [ ]:
print(tags.columns)
print(tags.index)
print(tags.head(5))
print('\n')
#extract the row 1, 100, 150
print(tags.iloc[[1,100,150]])

DESCRIPTIVE STATISTICS

In [ ]:
movies.head(5)

In [ ]:
tags.head(5)

In [ ]:
ratings.head(5)

In [ ]:
print(ratings['rating'].describe())
print(ratings.shape)
print('mean: {}'.format(ratings['rating'].mean()))
print('min: {}'.format(ratings['rating'].min()))
print('max: {}'.format(ratings['rating'].max()))
print('std: {}'.format(ratings['rating'].std()))
print('mode: {}'.format(ratings['rating'].mode()))
print('\n')
print(ratings.corr())

In [ ]:
mask=ratings['rating']>5
print(type(mask))
print(mask.any())
print(mask.shape)

In [ ]:
mask1=ratings['rating']>0
print(mask1.any())

DATA CLEANING: HANDLING MISSING DATA

In [ ]:
print(movies.shape)
movies.head(3)
movies.isnull().any()

print(tags.shape)
tags.head(3)
# tmp=tags.isnull().any()
# print(tmp.shape)
# print(tmp)

# tmp=tags.dropna()
# print(ratings.shape)
# ratings.head(3)
# movies.isnull().any()

DATA VISUALIZATION

In [ ]:
%matplotlib inline
# ratings.hist(column='rating',figsize=(10,7))
ratings.boxplot(column='rating',figsize=(10,7))

SLICING OUT COLUMNS

In [ ]:
# print(tags.head(3))

print(movies.head(3))

print(movies[['title','genres']].head(5))
movies[['title','genres']].head(5)

In [ ]:
ratings[1000:1010]

In [ ]:
print(tags.head(3))
tag_counts=tags['tag'].value_counts()
tag_counts[:20]

In [ ]:
tag_counts[:20].plot(kind='bar',figsize=(15,8))

FILTERS FOR SELECTING ROWS

In [ ]:
mask=ratings['rating']>=4.0
ratings[mask].tail(5)
ratings[mask][30:50]

In [ ]:
is_animation_mask=movies['genres'].str.contains('Animation')
movies[is_animation_mask].head(10)

GROUP BY AND AGGREGATE

In [ ]:
print(ratings.head(3))
print('\n')
rating_count=ratings.groupby('rating').count()
print(rating_count)

In [ ]:
average_rating=ratings[['movieId','rating']].groupby('movieId').mean()
average_rating.head(15)

In [ ]:
average_rating=ratings[['movieId','rating']].groupby('movieId').count()
average_rating.head(15)

MERGES DATAFRAME

In [ ]:
print(tags.head(3))
print(tags.shape)
print('\n')
# print(movies.head(3))
print(movies.shape)
movies.head(3)

In [ ]:
t=movies.merge(tags,on='movieId',how='inner')
t.head(3)

In [ ]:
avg=ratings.groupby('movieId',as_index=False).mean()
del avg['userId']
avg.head(3)

In [ ]:
movies.head(3)
tmp=movies.merge(avg,on='movieId', how='inner')
tmp.head(3)

In [ ]:
is_comedy_mask=tmp['genres'].str.contains('Comedy')
tmp[is_comedy_mask].head(3)
# tmp[is_comedy_mask][:3]

In [ ]:
is_highly_rating_mask=tmp['rating']>=4.0
tmp[is_highly_rating_mask].head(10)

In [ ]:
newTmp=tmp[is_highly_rating_mask & is_comedy_mask]
print(tmp.shape)
print(newTmp.shape)

print(newTmp[:10])

PARSING TIMESTAMPS

In [ ]:

url='https://raw.githubusercontent.com/Sinchiguano/ai_googleColab/main/smallDataset/tags.csv'
df = pd.read_csv(url,sep=',')
# print(df.head(5))
print(df.dtypes)

In [ ]:
print(df.head(3))
df['datetime']=pd.to_datetime(df['timestamp'],unit='s')
df[:5]

In [ ]:
print(df.shape)
mask=df['datetime']>'2015-02-01'
dfNew=df[mask]
print(dfNew.shape)

In [468]:
dfNewOrdered=dfNew.sort_values(by='datetime',ascending=True)
dfNewOrdered.head(15)
df['datetime'].dt.date.head(3)

df['datetime'].dt.date
df['datetime'].dt.time

# print(df['datetime'].dt.date.unique())


print(df['datetime'].unique())
print(df.head(2))

['2015-10-24T19:29:54.000000000' '2015-10-24T19:29:56.000000000'
 '2015-10-24T19:29:52.000000000' ... '2017-05-03T20:39:44.000000000'
 '2017-05-03T20:39:38.000000000' '2017-05-03T20:44:30.000000000']
   userId  movieId              tag   timestamp            datetime
0       2    60756            funny  1445714994 2015-10-24 19:29:54
1       2    60756  Highly quotable  1445714996 2015-10-24 19:29:56

            userId  movieId  tag  timestamp  datetime
datetime
2006-01-13     196      196  196        196       196
2006-01-14     396      396  396        396       396
2006-01-15      35       35   35         35        35
2006-01-16     271      271  271        271       271
2006-01-17      35       35   35         35        35
...            ...      ...  ...        ...       ...
2018-06-29       9        9    9          9         9
2018-07-01       8        8    8          8         8
2018-07-27      13       13   13         13        13
2018-09-13      11       11   11         11        11
2018-09-16      35       35   35         35        35

[174 rows x 5 columns]