<a href="https://colab.research.google.com/github/Sinchiguano/ai_googleColab/blob/main/Pandas_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to pandas Data Structurees

In [118]:
import pandas as pd

DATA STRUCTURES

In [119]:
ser=pd.Series(data=[1,2,3], index=['one','two','three'])
print(ser.shape)
print(ser)

print('\n')
ser=pd.Series([1,2,3],['one','two','three'])
print(ser.shape)
print(ser)

print('\n')
ser=pd.Series([1,'food','rice'],['one','two','three'])
print(ser.shape)
print(ser)

print('\n')
print(ser['two'])
print(ser.index)

(3,)
one      1
two      2
three    3
dtype: int64


(3,)
one      1
two      2
three    3
dtype: int64


(3,)
one         1
two      food
three    rice
dtype: object


food
Index(['one', 'two', 'three'], dtype='object')

In [120]:
ser=pd.Series([1,'food','rice'],['one','two','three'])
print(ser.loc['three'])
print('\n')
print(ser[['one','three']])
print('\n')
print(ser[[0,2]])
print('\n')
print('two' in ser)

rice


one         1
three    rice
dtype: object


one         1
three    rice
dtype: object


True

PANDAS DATAFRAME

it is a 2-dimensional labeled data structure

In [121]:
tmp=dict()
print(type(tmp))
import pandas as pd
s1=pd.Series(data=[2,1,2,4],index=['eraser','ruler','notebook','glue'])
s2=pd.Series(data=[4,2,6,1],index=['desk','stapler','scissors','highlighter'])
s3=pd.Series(data=[1,2,2,30],index=['calculator','chair','whiteout','paper'])


tmp['scholarList1']=s1
tmp['scholarList2']=s2
tmp['scholarList3']=s3
print('-------------')
# # Iterate over the keys
# for key in tmp:
#     # Access the value using the key
#     print(tmp[key])

print('----NEW ONE------------')
dframe=pd.DataFrame(tmp)
# print(dframe.shape)
print('\n')
print(dframe)

<class 'dict'>
-------------
----NEW ONE------------


             scholarList1  scholarList2  scholarList3
calculator            NaN           NaN           1.0
chair                 NaN           NaN           2.0
desk                  NaN           4.0           NaN
eraser                2.0           NaN           NaN
glue                  4.0           NaN           NaN
highlighter           NaN           1.0           NaN
notebook              2.0           NaN           NaN
paper                 NaN           NaN          30.0
ruler                 1.0           NaN           NaN
scissors              NaN           6.0           NaN
stapler               NaN           2.0           NaN
whiteout              NaN           NaN           2.0

In [122]:
print(dframe.index)
print('------')
print(dframe.columns)


print('------')
newDataFrame=pd.DataFrame(tmp,index=['eraser','scissors','paper'])
print(newDataFrame)

Index(['calculator', 'chair', 'desk', 'eraser', 'glue', 'highlighter',
       'notebook', 'paper', 'ruler', 'scissors', 'stapler', 'whiteout'],
      dtype='object')
------
Index(['scholarList1', 'scholarList2', 'scholarList3'], dtype='object')
------
          scholarList1  scholarList2  scholarList3
eraser             2.0           NaN           NaN
scissors           NaN           6.0           NaN
paper              NaN           NaN          30.0

CREATE DATAFRAME FROM LIST OF PYTHON DICTIONARIES

In [123]:
data=list()
data.append({'alex':1,'joe':2})
data.append({'ema':5,'dora':10,'alice':50})
print(data)
newDframe=pd.DataFrame(data)
print('-------')
print(newDframe)
print('\n')
newDframe=pd.DataFrame(data,index=['orange','red'])
newDframe
print('\n')
nDf1=pd.DataFrame(data, index=['one','two'],columns=['ema','dora','joe'])
print(nDf1)

[{'alex': 1, 'joe': 2}, {'ema': 5, 'dora': 10, 'alice': 50}]
-------
   alex  joe  ema  dora  alice
0   1.0  2.0  NaN   NaN    NaN
1   NaN  NaN  5.0  10.0   50.0




     ema  dora  joe
one  NaN   NaN  2.0
two  5.0  10.0  NaN

BASIC DATAFRAME OPERATIONS

In [124]:
print(dframe)
print('\n')
print(dframe['scholarList1'])
print('\n')
dframe['scholarList4']=dframe['scholarList1']+dframe['scholarList3']
print(dframe)

             scholarList1  scholarList2  scholarList3
calculator            NaN           NaN           1.0
chair                 NaN           NaN           2.0
desk                  NaN           4.0           NaN
eraser                2.0           NaN           NaN
glue                  4.0           NaN           NaN
highlighter           NaN           1.0           NaN
notebook              2.0           NaN           NaN
paper                 NaN           NaN          30.0
ruler                 1.0           NaN           NaN
scissors              NaN           6.0           NaN
stapler               NaN           2.0           NaN
whiteout              NaN           NaN           2.0


calculator     NaN
chair          NaN
desk           NaN
eraser         2.0
glue           4.0
highlighter    NaN
notebook       2.0
paper          NaN
ruler          1.0
scissors       NaN
stapler        NaN
whiteout       NaN
Name: scholarList1, dtype: float64


             scholarList1  scholarList2  scholarList3  scholarList4
calculator            NaN           NaN           1.0           NaN
chair                 NaN           NaN           2.0           NaN
desk                  NaN           4.0           NaN           NaN
eraser                2.0           NaN           NaN           NaN
glue                  4.0           NaN           NaN           NaN
highlighter           NaN           1.0           NaN           NaN
notebook              2.0           NaN           NaN           NaN
paper                 NaN           NaN          30.0           NaN
ruler                 1.0           NaN           NaN           NaN
scissors              NaN           6.0           NaN           NaN
stapler               NaN           2.0           NaN           NaN
whiteout              NaN           NaN           2.0           NaN

In [125]:
filter=dframe['scholarList1']>3
dframe2=dframe[filter]
print(dframe2)
print(dframe)
print(dframe.pop('scholarList4'))
print(dframe)
del dframe['scholarList2']
print(dframe['scholarList3'][:2])

      scholarList1  scholarList2  scholarList3  scholarList4
glue           4.0           NaN           NaN           NaN
             scholarList1  scholarList2  scholarList3  scholarList4
calculator            NaN           NaN           1.0           NaN
chair                 NaN           NaN           2.0           NaN
desk                  NaN           4.0           NaN           NaN
eraser                2.0           NaN           NaN           NaN
glue                  4.0           NaN           NaN           NaN
highlighter           NaN           1.0           NaN           NaN
notebook              2.0           NaN           NaN           NaN
paper                 NaN           NaN          30.0           NaN
ruler                 1.0           NaN           NaN           NaN
scissors              NaN           6.0           NaN           NaN
stapler               NaN           2.0           NaN           NaN
whiteout              NaN           NaN           2.0           NaN
calculator    NaN
chair         NaN
desk          NaN
eraser        NaN
glue          NaN
highlighter   NaN
notebook      NaN
paper         NaN
ruler         NaN
scissors      NaN
stapler       NaN
whiteout      NaN
Name: scholarList4, dtype: float64
             scholarList1  scholarList2  scholarList3
calculator            NaN           NaN           1.0
chair                 NaN           NaN           2.0
desk                  NaN           4.0           NaN
eraser                2.0           NaN           NaN
glue                  4.0           NaN           NaN
highlighter           NaN           1.0           NaN
notebook              2.0           NaN           NaN
paper                 NaN           NaN          30.0
ruler                 1.0           NaN           NaN
scissors              NaN           6.0           NaN
stapler               NaN           2.0           NaN
whiteout              NaN           NaN           2.0
calculator    1.0
chair         2.0
Name: scholarList3, dtype: float64

CASE STUDY:

MOVIE DATA ANALYSIS